# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Environment
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project
scratch/
staticfiles/
*.sqlite3
.coverage
htmlcov/

# Docker
postgres_data/
